html, body {
	background: #111111;
	margin: 0;
	padding: 0;
	color: #eee;
	font: sans-serif;
	height: 100%;
}

body {
	min-height: 100%;
}

#gamefield {
	position: relative;
	height: 100%;
	margin: 0 auto;
	background: #030010;
	overflow: hidden;
}

#lenny {
	position: absolute;
	font-size: 100px;
	top: 0;
	right: 0;
	width: 100%;
}

#player div {
	font-size: 2em;
	z-index: 100;
}

#deburg {
	position: absolute;
	bottom: 5px;
	font-size: 12px;
	font-family: sans-serif;
}
			
.player_bullet .sprite {
	font-size: 2em;
	color: red;
	z-index: 500;
}

.ent {
	position: absolute;
	//background: rgba(128,128,128,0.5);
	//line-height: 80%;
}

.hitbox {
	position: absolute;
	//background: rgba(50,250,50,0.9);
}

#game_info {
	font-size: 2em;
	font-family: serif;
}

.helper {
	font-size: 2em;
}
.magenta {
	color: magenta;
}
.cyan {
	color: cyan;
}
